<div class="mainPage" style="background: linear-gradient(180deg, rgba(67, 110, 203, 1) 0%, rgba(166, 79, 196, 0.9) 91%); color: #fff; height: 100vh;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create a new Timeline?</strong>
  </div>
  <div id="containerButtons">
    <ion-button expand="block" (click)="gotoUsuarios()">Usuarios</ion-button>
  </div>

    <div style="position: fixed; bottom: 20em; left: 50%; transform: translateX(-50%); z-index: 1000;">
      <ion-fab-button (click)="gotoTimelines()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
</div>
